<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FileSettings.Path" value="files"  />
    <add key="FileSettings.UrlFile" value="http://127.0.0.1:10000/devstoreaccount1/files/"  />
    <add key="FileSettings.StorageConnectionString" value="UseDevelopmentStorage=true"  />
  </appSettings>
</configuration>